body {
  background: rgb(34, 193, 195);
  background: linear-gradient(121deg, rgba(34, 193, 195, 1) 0%, rgba(253, 240, 45, 0.7315125879453344) 100%);
}

.scroll {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: -80px;
  color: #fff;
  font-size: 44px;
  transition: 300ms;
}

.scroll i {
  margin-top: 10px;
  text-shadow: 0 0 2px #fff;
}

.scroll:hover i {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    margin-top: 15px
  }

  to {
    margin-top: 5px
  }
}

.visible {
  right: 30px;
  transition: all 400ms;
  transform: rotate(360deg)
}

.sidebar1{
  position: fixed;
  width: 11rem;
  /* overflow-y: scroll; */
  top: 4rem;
  bottom: 0;
}

.active_topic{
  /* background-color: #fff; */
  box-shadow: 1px 1px lightblue;
  padding-left: 2px;
}